{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 10 versions", "ie >= 9"]
      }
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["import", {
      "libraryName": "doraemon",
      "style": true
    }],
    ["@babel/plugin-transform-destructuring", { "loose": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-runtime"
  ]
}
